In [1]:
%conda install plotly

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.10.3
  latest version: 4.11.0

Please update conda by running

    $ conda update -n base conda



## Package Plan ##

  environment location: /home/studio-lab-user/.conda/envs/default

  added / updated specs:
    - plotly


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    plotly-5.6.0               |     pyhd8ed1ab_0         6.9 MB  conda-forge
    tenacity-8.0.1             |     pyhd8ed1ab_0          21 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         6.9 MB

The following NEW packages will be INSTALLED:

  plotly             conda-forge/noarch::plotly-5.6.0-pyhd8ed1ab_0
  tenacity           conda-forge/noarch::tenacity-8.0.1-pyhd8ed1ab_0



Downloading and Extracting Packages
plotly-5.6.0         | 6.9 MB    | ##################################### | 100%
tenacity-8.0.1       | 21 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import warnings
warnings.filterwarnings("ignore")

# plotly
from plotly.offline import init_notebook_mode, iplot, plot
import plotly as py
init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.io as pio
import plotly.figure_factory as ff

In [28]:
veri = pd.read_csv("universite_siralamasi.csv")
veri.head(3)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011

In [29]:
veri.columns

Index(['world_rank', 'university_name', 'country', 'teaching', 'international',
       'research', 'citations', 'income', 'total_score', 'num_students',
       'student_staff_ratio', 'international_students', 'female_male_ratio',
       'year'],
      dtype='object')

In [30]:
veri.rename(columns= {'world_rank'                     :'dunya_siralama',
                      'university_name'                :'uni_isim',
                      'country'                        :'ulke',
                      'teaching'                       :'ogretim',
                      'international'                  :'uluslararasi',
                      'research'                       :'arastirma',
                      'citations'                      :'alinti',
                      'income'                         :'gelir',
                      'total_score'                    :'toplam_puan',
                      'num_students'                   :'ogrenci_sayisi',
                      'student_staff_ratio'            :'ogrenci_calisan_orani',
                      'international_students'         :'uluslararasi_ogrenci',
                      'female_male_ratio'              :'kadi_erkek_orani',
                      'year'                           :'yil'}, inplace =True) # inplace =true dediğimiz zaman ismi değiştirilen sütunlar otomatik olarak veri isimli değişkene kaydedilecek

In [31]:
veri.head(3)

,dunya_siralama,uni_isim,ulke,ogretim,uluslararasi,arastirma,alinti,gelir,toplam_puan,ogrenci_sayisi,ogrenci_calisan_orani,uluslararasi_ogrenci,kadi_erkek_orani,yil
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011

In [32]:
df = veri.iloc[:100,:]
df.head(3)

,dunya_siralama,uni_isim,ulke,ogretim,uluslararasi,arastirma,alinti,gelir,toplam_puan,ogrenci_sayisi,ogrenci_calisan_orani,uluslararasi_ogrenci,kadi_erkek_orani,yil
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011

In [33]:
pio.templates.default = "simple_white"

In [34]:
# ilk grafik
cizgi1= go.Scatter(x= df.dunya_siralama,  # x ekseninde dünya sıralamsı olsun
                   y=df.alinti,           #y eksenin de alinti olsun
                   mode= "lines+markers", # grafik çizgi ve saçılım olsun
                   name= "Alıntı",        #etiketi alıntı olsun
                   marker= dict(color='rgba(78, 78, 250, 0.85)'), # renk
                   text = df.uni_isim) #grafik üzerinde imleç ilgili noktaya gelince, üniversite ismi yazsın
# ikinci grafik
cizgi2 = go.Scatter(x= df.dunya_siralama, # x eksenin de dünya sıralaması olsun
                    y= df.ogretim,        # y ekseninde eğitim-öğretim faaliyetlerinden alınan puan olsun
                    mode= "lines+markers", # grafik çizgi ve saçılım olsun
                    name="Öğretim",       #etiketi öğretim olsun
                    marker = dict(color= 'rgba(202, 43, 15, 0.85)'), # renk
                    text= df.uni_isim) # grafik üzerinde imleç ilgili noktaya gelince, üniversite ismi yazsın
veri_ = [cizgi1, cizgi2] # 2 grafiğiveri_ değişkeni içerisine koyalım.
# baslık ekle ve eksen ayarlarını yap
yerlesim = dict(title="Dünya Sıralamsında ilk 100 üniversitenin Alıntı ve Öğretim Puanları",
                xaxis = dict(title="Dünya Sıralaması", ticklen = 5, zeroline= False))
fig = dict(data = veri_, layout= yerlesim) # figür oluştur
plot(fig, filename= '1_cizgi_alinti_ve_ogretim_puanlari.html') # html olarak kaydet

'1_cizgi_alinti_ve_ogretim_puanlari.html'

In [35]:
# plotly saçılım grafiği
# 2014, 2015 2016 yıllarını ayıralım ve ilk 100 e giren örneği alalım
veri2014 = veri[veri.yil == 2014].iloc[:100, :]
veri2015 = veri[veri.yil == 2015].iloc[:100, :]
veri2016 = veri[veri.yil == 2016].iloc[:100, :]

# ilk grafiği çizelim
cizgi1 = go.Scatter(x= veri2014.dunya_siralama, # x eksenin dünya sıralamsı
                    y= veri2014.alinti, #y ekseninde alıntı olsun
                    mode = "markers", # grafik saçılım
                    name= "2014", #etiketi 2014 yılı
                    marker = dict(color = 'rgba(2, 255, 15, 0.8)'), # renk a: alpha değeri
                    text = veri2014.uni_isim) # grafik üzeirnde imleç ilgili noktaya gelince, üniversite ismi yazılsın
# ikinci grafiği çizelim
cizgi2 = go.Scatter(x= veri2015.dunya_siralama,
                    y= veri2015.alinti,
                    mode = "markers",
                    name= "2015",
                    marker = dict(color = 'rgba(255, 0, 123, 0.8)'),
                    text= veri2015.uni_isim)
#üçüncü grafiği çizelim
cizgi3= go.Scatter(x= veri2016.dunya_siralama,
                   y= veri2016.alinti,
                   mode="markers",
                   name="2016",
                   marker = dict(color = 'rgba(0, 5, 200, 0.8)'),
                   text = veri2016.uni_isim)

veri_ = [cizgi1, cizgi2, cizgi3]
#başlık ekle ve eksen ayarlarını yap
yerlesim = dict ( title = " 2014, 2015 ve 2016 yıllarında ilk 100 üniversitenin alıntı ve dünya sıralaması",
                xaxis= dict(title="dünya sıralamsı", ticklen = 5, zeroline = False),
                yaxis = dict(title = "alıntı", ticklen = 5, zeroline = False))
fig = dict(data = veri_, layout = yerlesim) # figür oluştur
plot(fig, filename = '2_sacilim_alinti_ve_dunya_siralamasi.html') # html olarak kaydet

'2_sacilim_alinti_ve_dunya_siralamasi.html'

In [36]:
# plotly çubuk grafiği
# 2014 yılının ilk 5 üniversitesini alalım
veri2014 = veri[veri.yil == 2014].iloc[:5, :]

# ilk grafik
cizgi1 = go.Bar( x=veri2014.uni_isim,
                y= veri2014.alinti,
                name="alinti",
                marker = dict( color = 'rgba(255, 127,39,0.5)', #çubuk rengi
                              line= dict(color= 'rgb(0,0,0)', width=1.5)), # çubuk etrafındaki çizgilerin rengi ve kalınlığı
                text= veri2014.ulke)
#ikinci grafik
cizgi2= go.Bar(x= veri2014.uni_isim,
              y= veri2014.ogretim,
              name="Öğretim",
              marker = dict(color= 'rgba(64, 0,128,0.5)',
                            line= dict(color='rgb(0,0,0)', width=1.5)),
              text= veri2014.ulke)
veri_ = [cizgi1, cizgi2]
yerlesim = go.Layout(barmode= 'group')
fig = go.Figure(data = veri_, layout= yerlesim)
plot(fig, filename= '3_cubuk_alinti_ve_ogretim_puani.html')

'3_cubuk_alinti_ve_ogretim_puani.html'

In [37]:
# pyplot dairesel grafikler
# 2016 yılının ilk 8 üniversitesini alalım
veri2016 = veri[veri.yil ==2016].iloc[:8,:]
dilim1 = veri2016.ogrenci_sayisi

dilim1_liste = [float(each.replace(',','.')) for each in veri2016.ogrenci_sayisi] # veri2016 öğrenci sayısı verilerinin içindeki tüm virgülleri nokta yapıyorum sonra alıp ondalık sayı yapıyorum
etiketler = veri2016.uni_isim

# ilk grafik
cizgi = go.Pie(labels = etiketler,
               values = dilim1_liste,
               hoverinfo = 'label+value+percent',
               textinfo= 'value+percent',
               textfont = dict(size=8),
               rotation = 180,
               hole = 0.3, # ortada delik olsn
               marker = dict(line = dict(color='#000000', width=1)))
veri_ =[cizgi]
yerlesim = dict(title ="2016 yılında dünya sıralamasında ilk 8 de bulunan üniversitelerin öğrenci sayıları ve oranları",
                legend= dict(orientation="h"))
fig = dict(data =veri_, layout = yerlesim)
plot(fig, filename = '4_dairesel_ogrenci_sayisi.html')

'4_dairesel_ogrenci_sayisi.html'

In [38]:
#pyplot kabarcık grafik 4 boyutlu :O
# 2016 yılının ilk 20 üniversitesini alalım
veri2016 = veri[veri.yil == 2016].iloc[:20,:]
ogrenci_sayisi = [float(each.replace(',','.'))for each in veri2016.ogrenci_sayisi]
uluslararasi_renk= [ float(each) for each in veri2016.uluslararasi]

data = [{'y': veri2016.ogretim,
         'x': veri2016.dunya_siralama,
         'mode': 'markers',
         'marker': {'color': uluslararasi_renk,
                    'size': ogrenci_sayisi,
                    'showscale': True},
         'text': veri2016.uni_isim}]
plot(data, filename='5_kabarcik_ogrenci_sayisi.html')

'5_kabarcik_ogrenci_sayisi.html'

In [39]:
# 2011 ve 2012 yıllarında öğrenci ve çalışan oranlarını alalım
veri2011 = veri.ogrenci_calisan_orani[veri.yil == 2011]
veri2012 = veri.ogrenci_calisan_orani[veri.yil == 2012]

cizgi1 = go.Histogram(x= veri2011,
                      opacity = 0.75,
                      name = "2011",
                      marker = dict( color= 'rgba(171, 50, 144, 0.6)'))
#ikinci grafik
cizgi2 = go.Histogram(x= veri2012,
                      opacity = 0.75,
                      name= "2012",
                      marker = dict(color='rgba(23,150,196,0.6)'))
veri_ = [cizgi1, cizgi2]
yerlesim = go.Layout(barmode = "overlay",
                     title= "2011 ve 2012 yıllarında öğrenci/çalışan oranı",
                     xaxis = dict(title = "öğrenci - çalışan oranı"),
                     yaxis = dict(title="Frekans"))
fig = go.Figure(data=veri_, layout = yerlesim)
plot(fig, filename='6_histogram_ogrenci-calisma_orani.html')

'6_histogram_ogrenci-calisma_orani.html'

In [40]:
#pyplot kutu grafiği
# 2015 yılının verisini alalım
veri2015 = veri[veri.yil == 2015]

#ilk grafik
cizgi1 = go.Box(y = veri2015.toplam_puan,
                name = '2015 yılında Toplam Puan',
                marker= dict(color= 'rgb(255, 86, 4)'))
#ikinci grafik
cizgi2 = go.Box( y = veri2015.arastirma,
                name='2015 yılında Toplam Araştırma Puan',
                marker= dict(color ='rgb(14,149,233)'))
veri_ = [cizgi1, cizgi2]
plot(veri_, filename='7_kutu_toplam_ve_arastirma_puanı.html')

'7_kutu_toplam_ve_arastirma_puanı.html'

In [41]:
#pyplot saçılım matrisi grafiği
#2015 yılının verisini alalım
veri_gecici = veri[veri.yil ==2015]
veri2015 = veri_gecici.loc[:,["arastirma","uluslararasi", "toplam_puan"]]
veri2015["index"] = np.arange(1, len(veri2015)+1)

# scatter matrix i oluşturalım
fig = ff.create_scatterplotmatrix(veri2015, diag="box", index="index",
                                  colormap='Jet', colormap_type ='cat', height = 700, width=700)
"""
örnek renk haritaları
'Greys', 'YlGnBu', 'Greens', 'YlOrRd', 'Bluered',
'RdBu', 'Reds', 'Blues', 'Picnic', 'Rainbow', 'Portland',
'Jet', 'Hot', 'Blackbody', 'Earth',
'Electric', 'Viridis', 'Cividis'
"""
plot(fig, filename = '8_sacilim_matrisi_arastirma_uluslararasi_ve_toplam_puan.html')

'8_sacilim_matrisi_arastirma_uluslararasi_ve_toplam_puan.html'

In [42]:
# pyplot Alt Plan Graği
# veri 2015 yılının verisini alalım
veri2015= veri[veri.yil == 2015]

cizgi1= go.Scatter(x= veri2015.dunya_siralama,
                   y= veri2015.arastirma,
                   name = "arastirma- dünya sıralaması")
cizgi2= go.Scatter(x= veri2015.dunya_siralama,
                   y= veri2015.alinti,
                   xaxis= 'x2',
                   yaxis='y2',
                   name= "alinti -dünya sıralaması")
cizgi3= go.Scatter(x= veri2015.dunya_siralama,
                   y=veri2015.gelir,
                   xaxis="x3",
                   yaxis="y3",
                   name="gelir-dünya sıraması")
cizgi4= go.Scatter(x=veri2015.dunya_siralama,
                 y=veri2015.toplam_puan,
                 xaxis="x4",
                 yaxis="y4",
                 name= "toplam puan-dünya sıralaması")
veri_ =[cizgi1, cizgi2, cizgi3, cizgi4]
yerlesim = go.Layout(xaxis = dict(domain=[0, 0.45]),
                     yaxis= dict(domain=[0, 0.45]),
                     xaxis2= dict(domain=[0.55, 1]),
                     xaxis3= dict(domain=[0, 0.45], anchor='y3'),
                     xaxis4=dict(domain=[0.55, 1],anchor='y4'),
                     yaxis2=dict(domain=[0, 0.45 ],anchor='x2'),
                     yaxis3=dict(domain=[0.55, 1],anchor='x3'),
                     yaxis4=dict(domain=[0.55, 1], anchor='x4'),
                     title= "üniversite sıralamalarına göre araştırma , alıntı, gelir ve toplam puan değerleri")
fig = go.Figure(data=veri_, layout= yerlesim)
plot(fig, filename='9_altplan_arastirma_alinti_gelir_ve_toplam_puan.html')

'9_altplan_arastirma_alinti_gelir_ve_toplam_puan.html'

In [44]:
# 3 boyutlu saçılım grafiği
#2015 yılının verisini alalım
veri2015 = veri[veri.yil==2015]
cizgi1 = go.Scatter3d(x= veri2015.dunya_siralama,
                      y= veri2015.arastirma,
                      z=veri2015.alinti,
                      mode = 'markers',
                      marker = dict(size= 10, color="seagreen"), opacity =0.5)
veri_ = [cizgi1]
yerlesim = go.Layout(margin=dict(l=0, r=0, b=0, t=0))
fig = go.Figure(data=veri_, layout=yerlesim)
plot(fig, filename="10_3b_dünya_siralamasi_arastirma_alinti.html")

'10_3b_dünya_siralamasi_arastirma_alinti.html'

In [45]:
#pyplot dünya haritası grafiği
#2016 yılının verisini alalım

veri2016= veri[veri.yil== 2016]
veri2016.ulke.value_counts()

United States of America     146
United Kingdom                77
Japan                         41
Germany                       37
China                         37
                            ...
Unted Kingdom                  1
Iceland                        1
Unisted States of America      1
Luxembourg                     1
Lithuania                      1
Name: ulke, Length: 72, dtype: int64

In [46]:
# listede ABD den 146 adet okul olduğu için toplamı 146 ya bölüyoruz. görselleştirme daga güzel görünsün diye
ulkeye_gore_toplam_veriler = veri2016.groupby("ulke").sum()/146
ulkeye_gore_toplam_veriler

,ogretim,arastirma,alinti,ogrenci_calisan_orani,yil
ulke,,,,,
Argentina,0.109589,0.061644,0.085616,0.260959,13.808219
Australia,6.106849,6.971233,12.867808,5.715753,428.054795
Austria,1.336986,1.095205,2.961644,1.100685,96.657534
Bangladesh,0.148630,0.049315,0.065753,0.047260,13.808219
Belarus,0.138356,0.059589,0.041096,0.072603,13.808219
...,...,...,...,...,...
Unisted States of America,0.219178,0.243151,0.463699,0.000000,13.808219
United Arab Emirates,0.213699,0.173973,0.239726,0.182192,27.616438
United Kingdom,17.059589,16.370548,32.118493,8.846575,1063.232877
United States of America,40.959589,37.350685,70.697260,14.480822,2016.000000
Unted Kingdom,0.126027,0.139726,0.355479,0.000000,13.808219

In [52]:
# ilk grafik
cizgi1 = go.Choropleth(locations= ulkeye_gore_toplam_veriler.index,
                       locationmode = 'country names',
                       z= ulkeye_gore_toplam_veriler["arastirma"],
                       text= ulkeye_gore_toplam_veriler.index,
                       autocolorscale = False,
                       reversescale = True,
                       colorscale = "iceFire",
                       marker = dict(line=dict(color= 'rgb(255,255,255)', width=1)),
                                     colorbar= dict(title = 'arastırma puanı', tickprefix=''))
                      
veri_ = [cizgi1]
yerlesim= go.Layout(title = "ülkelerin toplam araştırma puanları",
                   geo= dict(showframe= True,
                             showlakes= False,
                             showcoastlines= True,
                             projection = dict(type = 'natural earth')))
fig = dict(data= veri_, layout = yerlesim)
plot(fig, filename="11_dunya_haritasi_arastirma_puani.html")

'11_dunya_haritasi_arastirma_puani.html'